*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}
/* clearfix si le texte est plus petit que l'image. */
.container::after {
  content: "";
  display: block;
  clear: both;
}
.container h1 {
  margin-bottom: 10px;
}
.container p {
  line-height: 1.4;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 20px 5px 0;
}
